.ArticleTag {
  margin-right: 10px;
  background-color: transparent;
  font-size: 11px;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 3px;
  color: white;
  filter: invert(1);
  border: 2px solid white;
  border-radius: 6px;
}
