.ArticleTag {
    margin-right: 10px;
    background-color: transparent;
    font-size: 11px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: normal;
}

.Scrollable p img {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    max-width: 100%;
    max-height: 500px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.Caption {
    font-size: smaller;
    font-style: italic;
    opacity: 0.5;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
