.ArticleHeader {
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 70%;
    border-bottom: 3px solid var(--accent-color);
    white-space: nowrap;
}
@media only screen and (max-width: 960px) {
    .ArticleHeader {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        white-space: normal;
    }
}

.ArticleContainer {
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
}
.ArticleContainerShort {
    margin-bottom: 20px;
}

.DisplayWidth a {
    width: min-content;
}

.ArticleHeaderTitle {
    font-size: 65px;
    font-weight: normal;
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.ArticleHeaderDescription {
    font-size: 26px;
    font-weight: normal;
    padding-top: 0px;
    margin-top: -10px;
    margin-bottom: 20px;
    opacity: 0.75;
    font-weight: lighter;
}

@media only screen and (max-width: 960px) {
    .ArticleHeaderTitle {
        font-size: 45px;
    }
    .ArticleHeaderDescription {
        font-size: 18px;
    }
}

.ArticleHeaderDate {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: -15px;
    padding-bottom: 0px;
    opacity: 0.5;
}

.ArticleHeaderSubtitle {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 50px;
}

.ArticleIndexBox {
    border-bottom: 2px solid var(--accent-color-transparent);
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: var(--transition-length);
    margin-left: 5px;
}

.ArticleIndexBox:hover {
    margin-left: 15px;
    color: var(--accent-color);
    text-shadow: var(--glow-text);
}

.ArticleIndexBoxTitle {
    font-weight: bold;
    font-size: 35px;
    margin: 0px;
}

.ArticleIndexBoxDate {
    font-weight: normal;
    font-size: 15px;
    margin: 0px;
    padding-left: 10px;
    margin-top: 20px;
    opacity: 0.5;
}

.ArticleIndexBoxDescription {
    margin: 0px;
    font-weight: normal;
    font-size: 18px;
}

.ArticleTagContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}
.ArticleTagContainerArticle {
    margin-left: 20px;
}
.ArticleTag {
	background-color: var(--accent-color-very-transparent);
	color: var(--foreground-color);
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    border-left: 3px solid var(--accent-color);
    transition: var(--transition-length);
    font-size: 14px;
}

.ArticleIndexPin {
	background-color: var(--accent-color-transparent);
	color: var(--foreground-color);
	padding: 3px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 10px;
	transition: var(--transition-length);
	font-size: 14px;
	margin-right: 0px;
    border-bottom: 3px solid var(--accent-color);
    height: fit-content;
}

.ArticlePinned {
    border-bottom: 4px solid var(--accent-color);
}