.ArticleTag {
  margin-right: 10px;
  background-color: transparent;
  font-size: 11px;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
}