.ArticleHeader {
    margin-bottom: 35px;
    padding-bottom: 20px;
    width: 70%;
    border-bottom: 3px solid var(--accent-color);
}
@media only screen and (max-width: 960px) {
    .ArticleHeader {
        width: 100%;
        margin: auto;
    }
}
.ArticleContainer {
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    min-height: 700px;
}

.ArticleHeaderTitle {
    font-size: 65px;
    font-weight: normal;
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 960px) {
    .ArticleHeaderTitle {
        font-size: 45px;
    }
}

.ArticleHeaderDate {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: -15px;
    padding-bottom: 0px;
    opacity: 0.5;
}
.ArticleHeaderSubtitle {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 50px;
}

.ArticleIndexBox {
    border-bottom: 2px solid var(--accent-color-transparent);
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.25s;
    margin-left: 5px;
}
.ArticleIndexBox:hover {
    margin-left: 15px;
    color: var(--accent-color);
}

.ArticleIndexBoxTitle {
    font-weight: bold;
    font-size: 35px;
    margin: 0px;
}
.ArticleIndexBoxDate {
    font-weight: normal;
    font-size: 15px;
    margin: 0px;
    padding-left: 10px;
    margin-top: 20px;
    opacity: 0.5;
}
.ArticleIndexBoxDescription {
    margin: 0px;
    font-weight: normal;
}