.ArticleTag {
  margin-right: 10px;
  background-color: transparent;
  font-size: 11px;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
}

.Scrollable p img {
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  max-width: 50%;
  max-height: 200px;
  text-align: center;
}

.Caption {
  font-size: smaller;
  font-style: italic;
  opacity: 0.5;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}