.back-button {
    position: absolute;
    left: 38px;
    top: 38px;
    text-decoration: none;
    font-family: var(--font-family-mono);
    display: flex;
    font-size: 14px;
    height: 20px;
    font-weight: 500;
}
.back-button .back-icon {
    margin-right: 10px;
    margin-top: -2px;
}