.HeroBanner {
    border-top: 5px solid var(--accent-color);
    margin: auto;
    width: var(--display-width);
    transition: var(--transition-length);
}

.HeroBannerInner {
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}
@media only screen and (max-width: 960px) {
    .HeroBannerInner {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }
}

.HeroBanner p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 15px;
}
.HeroBanner .Flexbox {
    width: 100%;
}

.HeroBannerInner h1 {
    margin-top: 15px;
}