.HeroBanner {
    border-top: 4px solid var(--accent-color);
    margin: auto;
    width: var(--display-width);
    transition: 0.5s;
}

.HeroBannerInner {
    padding: 25px;
    padding-bottom: 40px;
}

.HeroBanner p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 15px;
}
.HeroBanner .Flexbox {
    width: 100%;
}

.HeroBannerLeft {
    float: left;
}

.HeroBannerRight {
    float: right;
    opacity: 1;
}

.HeroBannerRight .Icon {
    width: 30%;
    margin-left: 50%;
}

@media only screen and (max-width: 960px) {
    .HeroBannerLeft {
        width: 100%;
    }
    .HeroBannerRight {
        opacity: 0;
        width: 0%;
    }
}