blockquote {
    margin-left: 0px;
    padding-left: 20px;
    border-left: 3px solid var(--accent-color);
    border-left-width: 5px;
    border-left-style: solid;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(45deg, var(--accent-color-very-transparent), var(--accent-color-transparent));
}
blockquote * {
    text-shadow: var(--default-shadow);
}
