blockquote {
    padding: 10px 20px;
    margin: 50px 0px;
    background: linear-gradient(90deg, var(--accent-color-very-transparent), transparent);
    border-left: 5px solid var(--accent-color);
}

blockquote * {
    text-shadow: var(--default-shadow);
}
