:root {
    --lighten-percentage: 20%;
    --darken-percentage: 20%;
    
    --header-background-color: rgb(16, 16, 16);
    --background-color: rgb(16, 16, 16);
    --background-color-alt: rgb(30, 30, 30);
    --foreground-color: rgb(240, 240, 240);

    --accent-color-hue: 190;
    --accent-color-saturation: 80%;
    --accent-color-value: 50%;

    --accent-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), var(--accent-color-value));
    --accent-color-transparent: hsla(var(--accent-color-hue), var(--accent-color-saturation), calc(var(--accent-color-value) - var(--darken-percentage)), 0.5);
}