.content-width {
    max-width: calc(640px - 50px * 2);
    padding: 50px;
    margin: 25px auto;
}
latex-js {
    display: block;
    max-width: calc(100vw - 50px * 2 + 100px * 2);
    margin: 0px -100px;
}
@media screen and (max-width: 480px) {
    .content-width {
        max-width: calc(95vw - 50px * 2);
    }
    latex-js {
        max-width: calc(95vw - 50px * 2 + 100px * 2);
        margin: 0px -100px;
    }
}