:root {
    --display-width: 60vw;
    --display-width-inner: 60vw;
    --display-font: Rajdhani, Arial, Helvetica, sans-serif;
    --display-font-code: Roboto Mono, Arial, Helvetica, sans-serif;
    --lightmode-background: var(--darken-color);
    --darkmode-background: var(--lighten-color);
    --glow-text: 0px 0px 100px var(--accent-color-transparent);
}

@media only screen and (max-width: 960px) {
     :root {
        --display-width: 90vw;
        --display-width-inner: 90vw;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding-top: 10px;
    background: var(--darkmode-background);
    background-repeat: repeat;
    background-size: 5px;
    color: var(--foreground-color);
    word-wrap: break-word;
    text-overflow: clip;
    font-family: var(--display-font);
}

.Hidden {
    display: none;
}

.MobileOnly {
    display: none;
}

@media only screen and (max-width: 960px) {
    .MobileHidden {
        display: none;
    }
    .MobileOnly {
        display: block;
    }
}

:root {
    --transition-length: 0.0s
}