:root {
    --display-width: 75%;
    --display-font: Rajdhani;

    --lightmode-background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsEAAAAAAMhg3qAAAB9UlEQVR42u3VMREAAAwCMSzg32w19K7dkgEJfAI/WmvvF0AKrRQCSKGVQgAptFIIIIVWCgGk0EohgBRaKQSQQiuFAFJopRBACq0UAkihlUIAKbRSCCCFVgoBpNBKIYAUWikEkEIrhQBSaKUQQAqtFAJIoZVCACm0UggghVYKAaTQSiGAFFopBJBCK4UAUmilEEAKrRQCSKGVQgAptFIIIIVWCgGk0EohgBRaKQSQQiuFAFJopRBACq0UAkihlUIAKbRSCCCFVgoBpNBKIYAUWikEkEIrhQBSaKUQQAqtFAJIoZVCACm0UggghVYKAaTQSiGAFFopBJBCK4UAUmilEEAKrRQCSKGVQgAptFIIIIVWCgGk0EohgBRaKQSQQiuFAFJopRDAaVspBHDaVgoBKbRWCgEptFYKASm0VgoBKbRWCgEptFYKASm0VgoBKbRWCgEptFYKASm0VgoBKbRWCgEptFYKASm0VgoBKbRWCgEptFYKASm0VgoBKbRWCgEptFYKASm0VgoBKbRWCgEptFYKASm0VgoBKbRWCgEptFYKASm0VgoBKbRWCgEptFYKASm0FkAKrQWQQiuFAFJopRBACq0UAkihlUIAKbRSCCCFVgoBpNBKIYAUWikEkEIrhQBSaKUQQAqtFAJIoZVCACm0UggbA/eOMGwzcgPvAAAAAElFTkSuQmCC');
    --darkmode-background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsEAAAAAAMhg3qAAACfUlEQVR42u3VQREAMAgDwVD/XpFATdBPZ+8RBQxbM5HWO0l3Yu3ulo+lRx9LQqFFoVAoodCiUCiUUGhRKBRKKLQoFAolFFoUCoUSCi0KhUIJhRaFQqGEQotCoVBCoUWhUCih0KJQKJRQaFEoFEootCgUCiUUWhQKhRIKLQqFQgmFFoVCoYRCi0KhUEKhRaFQKKHQolAolFBoUSgUSii0KBQKJRRaFAqFEgotCoVCCYUWhUKhhEKLQqFQQqFFoVAoodCiUCiUUGhRKBRKKLQoFArlsLxui0KhUCj0ui0KhUKh0FoUCoVCobUoFAqFQmtRKBQKhdaiUCgUCq1FoVAoFFqLQqFQKLQWhUKhUGgtCoVCodBaFAqFQqG1KBQKhUJrUSgUCoXWolAoFAqtRaFQKBRai0KhUCi0FoVCoVBoLQqFQqHQWhQKhUKhtSgUCoVCa1EoFAqF1qJQKBQKrUWhUCgUWotCoVAotBaFQqFQaC0KhUKh0FoUCoVCobUoFAqFQotCFAqFQqFFoYRCodCiUEKhUGhRKKFQKLQolFAoFFoUSigUCi0KJRQKhRaFEgqFQotCCYVCoUWhhEKh0KJQQqFQaFEooVAotCiUUCgUWhRKKBQKLQolFAqFFoUSCoVCi0IJhUKhRaGEQqHQolBCoVBoUSihUCi0KJRQKBRaFEooFAotCiUUCoUWhRIKhUKLQgmFQqFFoYRCodCiUEKhUGhRKKFQKLQolFAoFFoUyseSUGhRKBRKKLQoFAolFFoUCoUSCi0KhUIJhRaFQqGEQotCoVBCoUWhUCih0KJQKJRQaFEoFEootCgUCiUUWhQKhRIKLQqFQgmFFoX6tQsIWr9RP1v4lQAAAABJRU5ErkJggg==')
}
@media only screen and (max-width: 600px) {
    :root {
        --display-width: 90%;
    } 
}

body {
    margin: 0px;
    margin-top: 80px;
    padding-top: 25px;
    background-color: var(--background-color);
    background-image: var(--darkmode-background-image);
    background-repeat: repeat;

    color: var(--foreground-color);
    word-wrap: break-word;
    text-overflow: clip;
    font-family: var(--display-font);
}

.Hidden {
    display: none;
}
.MobileOnly {
    display: none;
}
@media only screen and (max-width: 600px) {
    .MobileHidden {
        display: none;
    } 
    .MobileOnly {
        display: block;
    }
}