.EffectBox {
    position: absolute;
    z-index: 1;
    width: max-content;
}

.EffectBoxActive {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
}

.EffectBoxInactive {
    animation: HideEffectLayer 1s forwards;
}

@keyframes HideEffectLayer {
    0% {
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
        width: 100%;
        transform: skewX(0deg) scaleY(70%);
        background-color: var(--accent-color);
    }

    35% {
        width: 4px;
        transform: translate(-16px, 0px) scaleY(70%);
        background-color: var(--accent-color);
    }

    100% {
        width: 4px;
        transform: skewX(0deg) translate(-16px, 0px) scaleY(60%);
        background-color: var(--accent-color-transparent);
    }
}

.AccentColored {
    color: var(--accent-color);
}