:root {
    --copy-header-anim-length: 0.25s;
}

.EffectBox {
    position: absolute;
    z-index: 1;
    width: max-content;
    pointer-events: none;
}

.EffectBoxActive {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
}

.EffectBoxInactive {
    animation: HideEffectLayer 1s forwards;
}

@keyframes HideEffectLayer {
    0% {
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
        width: 100%;
        transform: skewX(0deg) scaleY(100%);
        background-color: var(--accent-color);
    }

    35% {
        width: 4px;
        transform: translate(-16px, 0px) scaleY(100%);
        background-color: var(--accent-color);
    }

    100% {
        width: 4px;
        transform: skewX(0deg) translate(-16px, 0px) scaleY(60%);
        background-color: var(--accent-color-transparent);
    }
}

.AccentColored {
    color: var(--accent-color);
}

.HyperlinkIndicator {
    transition: var(--copy-header-anim-length);
    position: absolute;
    transition: 0.5s;
    color: var(--accent-color-transparent);
    opacity: 100%;
    pointer-events: none;
}
.HyperlinkIndicatorDisabled {
    transition: var(--copy-header-anim-length);
    opacity: 0%;
}
.HyperlinkHeader {
    margin-top: 15px;
    padding-top: 0px;
    transition: var(--copy-header-anim-length);
    color: var(--foreground-color);
}
.HyperlinkHeader:hover {
    color: var(--accent-color);
}
.HyperlinkHeader:active {
    transition: 0s;
    color: var(--foreground-color);
}

.CopyText {
    transition: var(--copy-header-anim-length);
    position: absolute;
    padding: 0px;
    margin: 2px;
    pointer-events: none;
    opacity: 50%;
    color: var(--foreground-color);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.CopyTextDisabled {
    opacity: 0%;
}

.AccentBloomBox {
    box-shadow: 0px 0px 25px var(--accent-color-transparent);
}
.AccentBloomText {
    text-shadow: 0px 0px 25px var(--accent-color);
}

h1, h2, h3, h4, h5, a, p, em, li {
    text-shadow: 0px 0px 100px var(--accent-color);
}