@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('/assets/fonts/georgia.woff') format('woff');
}

@font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: normal;
    src: local('Georgia Italic'), url('/assets/fonts/georgiai.woff') format('woff');
}

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    src: local('Georgia Bold'), url('/assets/fonts/georgiab.woff') format('woff');
}

@font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: bold;
    src: local('Georgia Bold Italic'), url('/assets/fonts/georgiaz.woff') format('woff');
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Reddit Mono Regular'), url('/assets/fonts/RedditMono-Regular-BF6516379b8367d.woff') format('woff');
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 300;
    src: local('Reddit Mono Light'), url('/assets/fonts/RedditMono-Light-BF6516379b8f026.woff') format('woff');
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Reddit Mono SemiBold'), url('/assets/fonts/RedditMono-SemiBold-BF6516379b99a41.woff') format('woff');
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: bold;
    src: local('Reddit Mono Bold'), url('/assets/fonts/RedditMono-Bold-BF6516379b990d5.woff') format('woff');
}

@font-face {
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 900;
    src: local('Reddit Mono ExtraBold'), url('/assets/fonts/RedditMono-ExtraBold-BF6516379b9ea3f.woff') format('woff');
}