@font-face {
    font-family: 'Rajdhani';
    src: url('/fonts/Rajdhani-Bold.woff2') format('woff2'), url('/fonts/Rajdhani-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('/fonts/Rajdhani-Medium.woff2') format('woff2'), url('/fonts/Rajdhani-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Regular.woff2') format('woff2'), url('/fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.Monospace {
    font-family: var(--display-font-code);
}