footer {
    position: absolute;
    width: 100vw;
    height: max-content;
    left: 0;
    bottom: 0;
    font-family: var(--font-family-mono);
}
footer p {
    margin: 0px;
    font-size: 14px;
    text-transform: lowercase;
}
footer .footer-top {
    margin-left: 14px;
}
footer .footer-bottom {
    margin-top: 2px;
    margin-left: calc(14px + 26px);
    margin-bottom: 30px;
    opacity: 0.5;
    font-size: 12px;
}

@media screen and (max-width: 960px) {
    footer {
        display: none;
        pointer-events: none;
    }
}