footer {
    position: fixed;
    width: calc(calc(100vw - calc(640px - 50px * 2)) / 2);
    height: max-content;
    left: 0;
    bottom: 0;
    font-family: var(--font-family-mono);
}

footer p {
    margin: 0px;
    font-size: 14px;
    text-transform: lowercase;
}

footer .footer-top {
    margin-left: 23px;
    font-weight: 400;
}

footer .footer-bottom {
    margin-top: 4px;
    margin-left: calc(25px + 26px);
    font-size: 13px;
    font-weight: bold;
}

.social-container {
    display: flex;
    margin-left: calc(25px + 26px);
    margin-bottom: calc(25px + 26px - 10px);
    margin-top: 10px;
    width: 50%;
    flex-wrap: wrap;
}

.social-container a {
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px;
    font-size: 13px;
    text-transform: lowercase;
    background-color: var(--background);
}

@media screen and (max-width: 960px) {
    footer {
        display: none;
        pointer-events: none;
    }
}

svg path {
    fill: var(--foreground);
}