footer {
    position: fixed;
    width: calc(calc(100vw - calc(640px - 50px * 2)) / 2);
    height: max-content;
    left: 0;
    bottom: 0;
    font-family: var(--font-family-mono);
    z-index: 999;
}

footer p {
    margin: 0px;
    font-size: 20px;
    text-transform: lowercase;
}

footer .footer-top {
    margin-left: 23px;
    font-weight: 100;
    font-family: sans-serif;
}

footer .footer-bottom {
    margin-top: 4px;
    margin-left: calc(25px + 26px);
    font-size: 11px;
    display: inherit;
    will-change: content;
    font-size: 14px;
    font-weight: 900;
}

.social-container {
    display: flex;
    margin-left: calc(25px + 26px);
    margin-bottom: calc(25px + 26px - 10px);
    margin-top: 15px;
    width: 50%;
    flex-wrap: wrap;
}

.social-container a {
    text-decoration: none;
}

svg path {
    fill: var(--foreground);
}

.footer-link {
    opacity: 0.5;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    text-transform: lowercase;
}