:root {
    padding-top: 0px;
    margin-top: -10px;
    --footer-font-size: 16px;
}

.Footer {
    width: 98vw;
    height: 7vh;
    color: var(--foreground-color);
    background-color: var(--header-background-color);
}

.FooterInner {
    padding-top: 10px;
    display: flex;
    padding-bottom: 15px;
    border-top: 5px solid var(--accent-color);
    transition: 0.5s;
}

.FooterText {
    width: 100%;
    color: var(--accent-color);
    font-weight: 600;
    text-align: center;
    margin: 6px;
    margin-bottom: 0px;
}

.FooterObject {
    width: auto;
    height: 4vh;
    padding: 0.7vh;
    padding-left: 15px;
    padding-right: 15px;
}

.FooterObject h1 {
    margin-top: 0px;
    margin-right: -15px;
    font-weight: 500;
    width: max-content;
    font-size: var(--footer-font-size);
}

.FooterObject p {
    margin-top: 0px;
    margin-right: -15px;
    font-weight: 500;
    width: max-content;
    font-size: var(--footer-font-size);
}

.FooterButton {
    color: var(--foreground-color);
    transition: 0.5s;
}

.FooterButton:hover {
    color: var(--accent-color);
}