.Header {
    width: 100vw;
    height: 100px;
    color: var(--foreground-color);
    position: absolute;
    top: 0;
}
.HeaderInner {
    display: flex;
    border-bottom: 5px solid var(--accent-color);
    transition: 0.5s;
}
.HeaderInner:hover {
    width: calc(var(--display-width) + 50px);
    border-bottom: 15px solid var(--accent-color);
}
.HeaderObject {
    width: auto;
    height: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
}
.HeaderObject:hover {
    padding-left: 30px;
    padding-right: 30px;
}
.HeaderObject h1 {
    font-weight: 400;
    transition: 0.5s;
}
.HeaderSpecial {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    transition: 0.5s;
}

.FloatLeft {
    float: left;
    margin-right: auto;
}
.FloatRight {
    float: right;
    margin-left: auto;
}
@media only screen and (max-width: 600px) {
    .FloatRight {
        float: none;
    } 
}