.Header {
    width: 98vw;
    height: 100px;
    color: var(--foreground-color);
    position: absolute;
    top: 0;
}
.HeaderInner {
    display: flex;
    border-bottom: 5px solid var(--accent-color);
    transition: 0.5s;
}
.HeaderObject {
    width: auto;
    height: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
    white-space: nowrap;
}
.HeaderObject h1 {
    font-weight: 500;
}
.LinkNormal {
    text-decoration: none;
    color: var(--foreground-color);
    transition: 0.5s;
    width: min-content;
}
.Underline {
    border-bottom: 1px solid;
}
.HeaderSpecial {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.FloatLeft {
    float: left;
    margin-right: auto;
}
.FloatRight {
    float: right;
    margin-left: auto;
}
@media only screen and (max-width: 960px) {
    .FloatRight {
        float: none;
    } 
}