.post {
    display: block;
    text-decoration: none;
    width: max-content;
    padding: 2px 40px;
    margin-bottom: 20px;
    max-width: calc(100% - 20px * 2);
    cursor: pointer;
    background: var(--background);
}
.post p {
    margin: 0;
}
.post-header {
    display: flex;
}
.post-header h3 {
    margin: 0;
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 200;
}
.post-header p {
    margin-top: 8px;
    margin-bottom: 0;
}