.DisplayWidth {
    width: var(--display-width);
    margin-left: auto;
    margin-right: auto;
}

.ArticleWidth {
    width: var(--display-width-inner);
    margin-left: auto;
    margin-right: auto;
}

.Centered {
    margin-left: auto;
    margin-right: auto;
}

.WidthAuto {
    width: auto;
}

.Flexbox {
    display: flex;
    justify-content: center;
}

.HomepageArticleContainer {
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 960px) {
    .HomepageArticleContainer {
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    } 
}