.DisplayWidth {
    width: var(--display-width);
    margin-left: auto;
    margin-right: auto;
}
.Centered {
    margin-left: auto;
    margin-right: auto;
}
.WidthAuto {
    width: auto;
}
.Flexbox {
    display: flex;
}