.DisplayWidth {
    width: var(--display-width);
    margin-left: auto;
    margin-right: auto;
}

.ArticleWidth {
    width: var(--display-width-inner);
    margin-left: auto;
    margin-right: auto;
}

.Centered {
    margin-left: auto;
    margin-right: auto;
}

.WidthAuto {
    width: auto;
}

.Flexbox {
    display: flex;
    justify-content: center;
}

.HomepageArticleContainer {
    padding-left: 60px;
    padding-right: 60px;
}