.LoadingScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    transition: 0.25s;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
}
.LoadingScreenVisible {
    background-color: black;
    opacity: 1;
}