.LoadingScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    transform: translateX(50vw) scaleX(0%);
    transition: 0.25s;
    background-color: var(--accent-color);
    opacity: 1;
}
.LoadingScreenVisible {
    transform: translateX(0vw) scaleX(100%);
    opacity: 1;
}