h1, h2, h3, h4, h5, h6, p, div {
    font-family: "Rajdhani";
    width: -moz-fit-content;
    width: fit-content;
}

h1 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.20);
}
h2 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.15);
}
h3 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.10);
}
h4 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.05);
}
h5 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.00);
}

a {
    color: var(--accent-color);
}

code {
    background-color: var(--accent-color-transparent);
    padding: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 3px;
}