h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    font-family: "Rajdhani";
    width: -moz-fit-content;
    width: fit-content;
}

h1 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.20);
}

h2 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.15);
}

h3 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.10);
}

h4 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.05);
}

h5 {
    text-shadow: 0px 0px 50px rgb(255, 255, 255, 0.00);
}

a {
    color: var(--accent-color);
}

hr {
    color: var(--accent-color-transparent);
}

code {
    background: var(--background-color);
    color: var(--foreground-color);
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    display: inline-block;
}
pre code {
    border: 2px solid #1e1e1e;
}

.CodeCopyButton {
    position: absolute;
    transition: 0s;
    color: var(--foreground-color);
    z-index: 2;
    opacity: 50%;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.CodeCopyButton:hover {
    color: var(--foreground-color);
    opacity: 100%;
}

.CodeLineNumbers {
    opacity: 50%;
    font-family: monospace;
    inline-size: 150px;
    overflow-wrap: break-word;
    margin-left: -20px;
    margin-bottom: 0px;
    padding: 0px;
    width: 13px;
}

pre {
    width: 100%;
}
blockquote {
    border-left: 5px solid var(--accent-color);
    background-color: var(--accent-color-very-transparent);
    margin-left: 10px;
    padding: 10px;
    padding-left: 20px;
    width: 90%;
}
@media only screen and (max-width: 800px) {
    blockquote {
        width: 82%;
    } 
    pre {
        width: 95%;
    }
    .CodeCopyButton {
        display: none;
        pointer-events: none;
    }
}