h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    width: -moz-fit-content;
    width: fit-content;
}

p {
    font-weight: 500;
}

a {
    font-weight: 500;
    color: var(--accent-color);
}

hr {
    color: var(--accent-color-transparent);
}

code {
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    display: inline-block;
}

pre code {
    border: 3px solid var(--codeblock-border-color);
    padding: 15px;
    padding-top: 12px;
}

pre {
    width: 100%;
}

blockquote p {
    margin-top: 8px;
    margin-bottom: 8px;
}

blockquote {
    border-left: 5px solid var(--accent-color);
    background-color: var(--accent-color-very-transparent);
    padding: 10px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
    blockquote,pre {
        width: 92%;
    }
    .CodeCopyButton {
        display: none;
        pointer-events: none;
    }
    .CodeLineNumbers {
        display: none;
    }
}