h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    font-family: var(--display-font);
    width: -moz-fit-content;
    width: fit-content;
}

p {
    font-weight: 500;
}

a {
    font-weight: 500;
    color: var(--accent-color);
}

hr {
    color: var(--accent-color-transparent);
}

code {
    background: var(--background-color);
    color: var(--foreground-color);
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    display: inline-block;
    white-space: pre-line;
}

pre code {
    border: 2px solid #1e1e1e;
    display: inline-block;
    width: 95%;
    padding: 15px;
}

.CodeCopyButton {
    position: absolute;
    transition: 0s;
    color: var(--lighten-color-codeblock);
    z-index: 2;
    opacity: 50%;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.CodeCopyButton:hover {
    opacity: 100%;
}

.CodeLineNumbers {
    opacity: 50%;
    font-family: monospace;
    inline-size: 150px;
    overflow-wrap: break-word;
    margin-left: -20px;
    margin-bottom: 0px;
    padding: 0px;
    width: 13px;
}

pre {
    width: 100%;
}

blockquote p {
    margin-top: 8px;
    margin-bottom: 8px;
}

blockquote {
    border-left: 5px solid var(--accent-color);
    background-color: var(--accent-color-very-transparent);
    margin-left: 10px;
    padding: 10px;
    width: 90%;
}

@media only screen and (max-width: 800px) {
    blockquote {
        width: 82%;
    }
    pre {
        width: 95%;
    }
    .CodeCopyButton {
        display: none;
        pointer-events: none;
    }
    .CodeLineNumbers {
        display: none;
    }
}