.MobileButton {
    width: 25vw;
    position: absolute;
    right: 10px;
    width: max-content;
    cursor: pointer;
}


.MobileButton p {
    text-align: right;
}
.MobileButton svg {
    position: absolute;
    right: 0px;
    margin: -5px;
}

.MobileButtonPrev {
    top: 50px;
}
.MobileButtonNext {
    bottom: 110px;
}

.Footer2 {
    display: block;
}
.MobileButton {
    display: none;
}
@media screen and (max-width: 960px) {
    .Footer2 {
        display: none;
    }
    .MobileButton {
        display: block;
    }
}