.article-content p img {
    max-width: 100%;
    max-height: 500px;
    margin: 0px auto;
    display: block;
}
.image-caption {
    text-align: center;
    opacity: 0.5;
    font-style: italic;
}
a, a:visited {
    color: var(--foreground);
}
blockquote {
    border-left: 3px solid var(--foreground);
    padding: 0px 20px;
    margin: 20px 0px; 
}

.post-meta h1 {
    margin: 0;
    margin-top: 10px;
}
.post-description {
    margin-top: 0px;
    font-style: italic;
}
.post-author {
    margin-top: 0px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 3px solid var(--foreground);
    font-size: 12px;
    font-style: normal;
}