.article-content p img, .article-content img {
    max-width: 100%;
    max-height: 500px;
    margin: 0px auto;
    display: block;
}

.image-caption {
    text-align: center;
    font-style: italic;
}

a,
a:visited {
    color: var(--foreground);
}

blockquote {
    border: 1px dashed var(--foreground);
    border-left: 3px solid var(--foreground);
    padding: 1px 20px;
    margin: 20px 0px;
}

.post-meta {
    border-bottom: 3px solid var(--foreground);
    margin-bottom: 30px;
}

.post-meta h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 36px;
    font-weight: 200;
    font-family: var(--font-family-mono);
}

.post-description {
    margin-top: 5px;
}

.post-author {
    margin: 0px;
    font-size: 12px;
    font-style: normal;
    text-align: right;
    opacity: 0;
}