.article-content p img {
    max-width: 100%;
    max-height: 500px;
    margin: 0px auto;
    display: block;
}

.image-caption {
    text-align: center;
    opacity: 0.5;
    font-style: italic;
}

a,
a:visited {
    color: var(--foreground);
}

blockquote {
    border: 1px dashed var(--foreground);
    border-left: 3px solid var(--foreground);
    padding: 1px 20px;
    margin: 20px 0px;
}

.post-meta {
    border-bottom: 3px solid var(--foreground);
}

.post-meta h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 36px;
}

.post-description {
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 5px;
}

.post-author {
    margin-top: 0px;
    font-size: 12px;
    font-style: normal;
    display: none;
}

@media screen and (max-width: 960px) {

    .post-meta h1,
    .post-description {
        text-align: center;
    }
}