.RemContainer {
    background-color: transparent;
    color: transparent;
    text-align: center;
    font-family: monospace;
    font-size: 1vw;
    margin: 0px;
}
.RemContainer span {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}