:root {
    --font-family: Noto Serif, serif;
    --font-family-mono: Roboto Mono, monospace;
    --foreground: var(--dark);
    --background: var(--light);
    --dark: rgb(10, 10, 10);
    --light: white;
}