:root {
    --font-family: Atkinson Hyperlegible, sans-serif;
    --font-family-mono: Mono, monospace;
    --foreground: var(--dark);
    --background: var(--light);
    --dark: rgb(0, 0, 0);
    --black: black;
    --light: white;
    --white: white;
}
