pre code {
    scrollbar-width: thin;
}
pre code:hover {
    scrollbar-width: thin;
}

pre code::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--darken-color);
}
  
pre code::-webkit-scrollbar-thumb {
    background: var(--codeblock-border-color);
}
pre code:hover::-webkit-scrollbar-thumb {
    background: var(codeblock-border-color-hover);
}