:root {    
    --transition-length: 0.0s;
    --transparency-percentage: 20%;
    --lighten-color: white;
    --darken-color: black;
    --foreground-color: white;
    --link-color: rgb(255, 255, 255);
    --accent-color-hue: 0;
    --accent-color-saturation: 50%;
    --accent-color-value: 50%;
    --accent-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), var(--accent-color-value));
    --accent-color-transparent: hsla(var(--accent-color-hue), var(--accent-color-saturation), calc(var(--accent-color-value) - var(--transparency-percentage)), 0.5);
    --accent-color-very-transparent: hsla(var(--accent-color-hue), var(--accent-color-saturation), calc(var(--accent-color-value) - var(--transparency-percentage)), 0.2);
    --font-family: Metropolis;
}