.ShareSection {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
    width: 65%;
}

@media only screen and (max-width: 960px) {
    .ShareSection {
        width: 85%;
    }
}

.ShareHeader {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.ShareButtonContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.ShareItem {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.025);
    width: 50px;
    height: 50px;
    transition: 0.25s;
    border: 1px solid var(--accent-color-transparent);
    padding: 0px;
}

.ShareItem:hover {
    border-radius: 25%;
    border: 1px solid transparent;
}

.ShareItemLink {
    margin-bottom: 20px;
    cursor: pointer;
}

.ShareItemInner {
    width: 20px;
    height: 20px;
    margin: 15px;
}

.ShareButtonGray:hover {
    background-color: gray;
    color: white;
}

.ShareButtonFacebook:hover {
    background-color: #3b5998;
    color: white;
}

.ShareButtonTwitter:hover {
    background-color: #1DA1F2;
    color: white;
}

.ShareButtonReddit:hover {
    background-color: #FF4500;
    color: white;
}

.ShareButtonContainer .LinkNormal {
    width: max-content;
}

.ShareMaxWidth {
    width: 100%;
}

.ShareMaxWidth .Spaced {
    margin-left: 18px;
}

.ShareMaxWidth a {
    margin-bottom: -5px;
    font-size: 15px;
    font-weight: bold;
}