.ShopItemsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ShopItem {
    width: 20%;
    height: 20%;
    padding: 20px;
    margin: auto;
}
.ShopItemInner {
    background-color: transparent;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: var(--transition-length);
}
.ShopItemInner:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(1.1);
}
.ShopItemImage {
    width: 100%;
    height: 100%;
}
.ShopItemInner .Flexbox {
    width: 100%;
}
.ShopItemName {
    margin-left: 10px;
    width: 75%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
}
.ShopItemPrice {
    margin-right: 10px;
    margin-left: auto;
    text-align: right;
    opacity: 0.5;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}
.ShopItemContainer {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 600px;
    width: 100%;
}
.ShopSelectedItemImage {
    width: 63%;
    height: 63%;
    margin-right: 10px;
}
.ShopSelectedItemTitle {
    font-weight: bold;
    font-size: 40px;
}
.ShopSelectedItemPrice {
    font-weight: normal;
    font-size: 20px;
    opacity: 0.5;
}
.ShopSelectedItemContainer {
    text-shadow: -5px 5px 15px var(--darken-color);
    padding: 30px;
    margin-left: -30px;
}
.ShopItem a {
    text-decoration: none;
    color: var(--foreground-color);
}