.TooltipContainer {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.TooltipSmallIndicator {
    --tooltip-small-spacing: 2px;
    background-color: var(--accent-color-transparent);
    padding-left: calc(var(--tooltip-small-spacing) + 2px);
    padding-right: calc(var(--tooltip-small-spacing) + 2px);
    padding-top: var(--tooltip-small-spacing);
    padding-bottom: var(--tooltip-small-spacing);
    margin-right: 3px;
    color: var(--foreground-color);
}

.TooltipText {
    position: absolute;
    margin-top: -100%;
    width: max-content;
    font-size: 15px;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.TooltipTextSmall {
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.TooltipActive {
    transition: var(--transition-length);
    opacity: 1;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.TooltipActiveSmall {
    background-color: var(--accent-color);
}

.TooltipInactive {
    transition: var(--transition-length);
    opacity: 0;
    background-color: var(--accent-color-transparent);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}
.TooltipInactiveSmall {
    background-color: rgb(0, 0, 0);
}
