.TooltipContainer {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
    text-align: center;
}
.TooltipText {
    position: absolute;
    margin-top: -100%;
    width: max-content;
    font-size: 15px;
    padding: 5px;
    color: white;
    transition: 0.5s;
    text-align: center;
}
.TooltipActive {
    opacity: 1.0;
    transition: 0.5s;
    background-color: var(--accent-color);
}

.TooltipInactive {
    opacity: 0.0;
    transition: 0.5s;
    background-color: var(--accent-color-transparent);
}