.TooltipContainer {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.TooltipSmallIndicator {
	--tooltip-small-spacing: 2px;
	background-color: var(--accent-color-transparent);
	padding-left: calc(var(--tooltip-small-spacing) + 2px);
	padding-right: calc(var(--tooltip-small-spacing) + 2px);
	padding-top: var(--tooltip-small-spacing);
	padding-bottom: var(--tooltip-small-spacing);
	margin-right: 3px;
    color: var(--foreground-color);
}

.TooltipText {
    position: absolute;
    margin-top: -100%;
    width: max-content;
    font-size: 15px;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.TooltipTextSmall {
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.TooltipActive {
    opacity: 1.0;
    transition: var(--transition-length);
    background-color: var(--accent-color);
}
.TooltipActiveSmall {
    background-color: var(--accent-color-very-transparent);
}

.TooltipInactive {
    opacity: 0.0;
    transition: var(--transition-length);
    background-color: var(--accent-color-transparent);
}
.TooltipInactiveSmall {
    background-color: rgb(0, 0, 0);
}