@font-face {
    font-family: 'Rajdhani';
    src: url('./fonts/Rajdhani/Rajdhani-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('./fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('./fonts/Rajdhani/Rajdhani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('./fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('./fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('./fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}