<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                <rule name="WSRewrite" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="3.94.110.11" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3100" />
                </rule>
                <rule name="TerminalRedirect" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="terminal.strayfade.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:6200/{R:1}" />
                </rule>
                <rule name="ForumRedirect" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="forum.strayfade.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3800/{R:1}" />
                </rule>

                <rule name="MainRewriteAuth" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="auth.strayfade.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:4000/{R:1}" />
                </rule>
                <rule name="UXAuthProxyInboundRule" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="strayfade.com" />
                    </conditions>
                    <match url="^(.*Auth).(.+)*$" />
                    <action type="Rewrite" url="http://localhost:4000/{R:2}" />
                </rule>
                <rule name="MainRewrite" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>