<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
		        <rule name="UXRedirectAuth" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="auth.uxcheats.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:4000/{R:1}" />
                </rule>
		        <rule name="UXRedirectAuthStatus" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="status.uxcheats.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Redirect" url="https://auth.uxcheats.com/StatusPage" />
                </rule>
                <rule name="UXRedirect" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="uxcheats.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5000/{R:1}" />
                </rule>
                <rule name="MainRewriteAuth" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="auth.strayfade.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:4000/{R:1}" />
                </rule>
                <rule name="UXAuthProxyInboundRule" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="strayfade.com" />
                    </conditions>
                    <match url="^(.*Auth).(.+)*$" />
                    <action type="Rewrite" url="http://localhost:4000/{R:2}" />
                </rule>
                <rule name="MainRewrite" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>