<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- terminal.strayfade.com -->
                <rule name="TerminalWS" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="3.94.110.11" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3100" />
                </rule>
                <rule name="Terminal" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="terminal.strayfade.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:6200/{R:1}" />
                </rule>

                <!-- forum.strayfade.com -->
                <rule name="StrayfadeForum" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="forum.strayfade.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3800/{R:1}" />
                </rule>

                <!-- auth.deepaim.xyz -->
                <rule name="DeepAimAuth" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="auth.deepaim.xyz" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:4000/{R:1}" />
                </rule>

                <!-- forum.deepaim.xyz -->
		        <rule name="DeepAimForum" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="forum.deepaim.xyz" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3800/{R:1}" />
                </rule>

                <!-- deepaim.xyz -->
                <rule name="DeepAim" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="deepaim.xyz" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5000/{R:1}" />
                </rule>
                
                <!-- auth.strayfade.com -->
                <rule name="StrayfadeAuth" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="auth.strayfade.com" />
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:4000/{R:1}" />
                </rule>
                <rule name="StrayfadeAuth1" stopProcessing="true">
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="strayfade.com" />
                    </conditions>
                    <match url="^(.*Auth).(.+)*$" />
                    <action type="Rewrite" url="http://localhost:4000/{R:2}" />
                </rule>
                
                <!-- strayfade.com -->
                <rule name="Strayfade" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>