#article {
  max-width: 600px;
  margin: auto;
  width: 90vw;
  padding-bottom: 100px;
  background-color: black;
  padding: 20px;
}

#article img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 16px;
}

#article * {
  background-color: black;
}

#article h1,
#article h2,
#article h3 {
  margin-top: 0px;
  padding: 0px;
}

section#article p {
  margin-top: 0px;
  margin-bottom: 18.72px;
  padding: 0px;
}

#article .image-caption {
  margin: auto;
  width: max-content;
  font-size: 14px;
  margin-bottom: 16px;
}

#article blockquote {
  border: 1px solid white;
  padding: 12px 20px;
  margin: 18.72px 0px;
}

#article blockquote p {
  margin-bottom: 0px;
}

pre {
  width: 100%;
  overflow-x: auto;
  padding: 20px 0px;
}