header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    mix-blend-mode: exclusion;
    background-color: black;
}
header > div:first-child {
    margin-right: auto;
    text-transform: none;
}
@media screen and (max-width: 700px) {
    header > div {
        display: none;
    }
    header > div:first-child {
        display: block;
    }
}
header > div {
    padding: 2px 12px;
    cursor: pointer;
    font-size: 24px;
    text-transform: lowercase;
}
header a  {
    text-decoration: none;
    color: white;
}
header span {
    margin-right: 10px;
}
header .slash {
    font-size: 20px;
}
header a:hover {
    filter: none;
}