main {
    height: calc(100vh - 34px);
    position: absolute;
    top: 34px;
    left: 0;
    width: 100vw;
    display: flex;
}

main>div {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 50px 0px;
    scrollbar-width: none;
}

main>div:last-child {
    align-items: end;
}

a {
    color: white;
}

section {
    margin: 12px 20px;
    color: white;
    width: calc(50vw - 30px);
}

section>h1 {
    font-weight: 100;
    text-transform: lowercase;
    font-size: 48px;
    margin: 0px;
    background-color: black;
    width: max-content;
    border-radius: 10px;
}

section>p {
    margin: 4px 0px;
    background-color: black;
    max-width: min(800px, 100%);
    width: max-content;
    padding: 2px 10px;
    border-radius: 10px;
}

#posts>a {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: black;
    text-decoration: none;
    margin: 20px 0px;
    padding: 2px 10px;
    width: 200px;
}

a {
    background-color: black;
    color: white;
    padding: 2px 4px;
    margin-left: -2px;
    border-radius: 10px;
}

a:hover {
    filter: invert(1);
}

#posts>a>p {
    margin: 0;
}

#posts>a>p:first-child {
    margin-right: 10px;
    text-decoration: underline;
}

#posts>a>p:last-child {
    margin-left: 10px;
    width: max-content;
}

#posts {
    margin-left: auto;
}

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    main>div {
        width: 100%;
        height: max-content;
        max-height: unset;
        overflow-y: clip;
    }

    main>div:last-child {
        align-items: start;
    }

    section {
        width: calc(100vw - 40px);
    }

    section>p {
        width: unset;
    }
}