@font-face {
    font-family: 'Rajdhani';
    src: url('/fonts/Rajdhani-Medium.woff2') format('woff2'), url('/fonts/Rajdhani-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('/fonts/Rajdhani-Bold.woff2') format('woff2'), url('/fonts/Rajdhani-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}